<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slots</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/turf_slots.css' %}">
</head>
<body>

<div class="page-container">


    <h1>Slots for {{ turf.name }}</h1>

    <div class="slots-grid">

        {% for slot in slots %}
        <div class="slot-card">
            <div class="slot-time">
                {{ slot.start_time }} – {{ slot.end_time }}
            </div>

            <div class="slot-price">
                ₹{{ slot.price }}
            </div>

            <form method="post" action="{% url 'book_slot' slot.id %}">
                {% csrf_token %}
                <input type="date" name="date" required>
                <button type="submit">Book</button>
            </form>
        </div>
        {% empty %}
        <p class="empty">No slots available</p>
        {% endfor %}

    </div>

    <!-- BOTTOM BACK BUTTON -->
    <div class="bottom-actions">
        <a href="{% url 'user_dashboard' %}" class="btn-back">
            ← Back to Dashboard
        </a>
    </div>

</div>

</body>
</html>